.material1{
	background-color: #f44336;
}.material2{
	background-color: #e91e63;
}.material3{
	background-color: #9c27b0 !important;
}.material4{
	background-color: #ff8a80;
}.material5{
	background-color: #5e35b1;
}.material6{
	background-color: #e040fb ;
}.material7{
	background-color: #7c4dff ;
}.material8{
	background-color: #e8eaf6 ;
}.material9{
	background-color: #e3f2fd ;
}.material10{
	background-color: #3f51b5 ;
}.material11{
	background-color: #2196f3 ;
}.material12{
	background-color: #e1f5fe ;
}.material13{
	background-color: #e0f7fa ;
}.material14{
	background-color: #006064 ;
}.material15{
	background-color: #01579b ;
}.material16{
	background-color: #4caf50 ;
}.material17{
	background-color: #009688 ;
}.material18{
	background-color: #eeff41 ;
}.material19{
	background-color: #b2ff59 ;
}.material20{
	background-color: #ffc107 ;
}.material21{
	background-color: #fdd835  ;
}.material22{
	background-color: #fb8c00  ;
}.material23{
	background-color: #9e9e9e  ;
}.material24{
	background-color: #795548  ;
}